doctype html
html
    head
        title= title
    body
        h1= title
        form#login
            input(type="text" name="username")
            input(type="password" name="password")
            input(type="button" id="submit" value="登录")
    script(src="js/jquery.js")
    script.
        $("#submit").click(function() {
            //- var newdata = new FormData($("#login")[0]);
            //- console.log(newdata)

            var xhr = new XMLHttpRequest()
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    var res = JSON.parse(xhr.response);
                    if (res.success) {
                      alert(2)
                    }
                  }
            }
            xhr.open('post','/aa');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');
            xhr.send()
        })